<div class="container navbar">
	<span class="site-title">{{ site.title }}</span>
	<ul class="pull-right">
		<li class="pull-left">
			<a href="{{ site.baseurl }}/">Home</a>
			/
		</li>
		<li class="pull-left">
			<a href="https://github.com/floppyMike/">Github</a>
			/
		</li>
		<li class="pull-left">
			<a href="{{ site.baseurl }}/categories/">Categories</a>
			/
		</li>
		<li class="pull-left">
			<a href="{{ site.baseurl }}/archive/">Archive</a>
			/
		</li>
		<li class="pull-left">
			<a href="{{ site.baseurl }}/about.html">About</a>
		</li>
	</ul>
</div>
<hr>