---
layout: default
title: home
---

{% for post in paginator.posts %}
<div class="post-card">
	<a class="title" href="{{site.baseurl}}{{ post.url }}">
		{{ post.title }}
	</a>

	<div class="details">
		<b>{{ post.date | date: "%d %B %Y" }}</b>
		<br>
		{% if post.categories %}
			<b>[</b>
			{% for category in post.categories %}
				<a href="{{ site.baseurl }}/categories/#{{ category }}">{{ category }}</a>{% if forloop.last == false %},{% endif %}
			{% endfor %}
			<b>]</b>
		{% endif %}
	</div>

	<div class = "featured-img">
	{% if post.image %}
		<a href="{{ post.url | relative_url }}"><img src="{{ post.image | relative_url }}"/></a>
	{% endif %}
	{% if post.gif %}
		<a href="{{ post.url | relative_url }}">{% include gif.html file = post.gif %}</a>
	{% endif %}
	</div>

	<div class="subtitle">
		{{ post.description }}
	</div>

	<hr>

</div>
{% endfor %}
